 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Support</h2>
      <i class="devicon-apple-original"></i>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-windows8-original colored"></i>
      <p>Experience in supporting various operating systems and technology in numerous companies</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain"></i>
      <p>Currently using Java in University assignments and have expereince in creating basic websites using HMTL and styling with CSS</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-slack-plain colored"></i>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <p>Have used the following tools in order to organise and plan out my work either individually or in a team</p>
    </div>
</div>
