<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Data Science Picture" src="{{ "/assets/img/cabin.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Macquarie Data Science Challenge </h3>
    <ul>
      <li> Facilitated group discussions </li>
      <li> Researched topic before building </li>
      <li> Created presentation to pitch </li>
    </ul>
    <p>For the Student Data Science challenge hackathon, my team and I constructed a web application that when passed data would give a percentage on whether the customer would be high risk for self harm based on the data set we were provided. After this we would provide avenues for ongoing care.</p>
    <a class="project-link" href="http://macquarie.dsschack.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Online ordering System </h3>
    <ul>
      <li> Project manager for a team of 3 </li>
      <li> Developed project plan, feasibility reports, and design of website </li>
      <li> Used design software Figma for prototype and wireframe</li>
      <li> Developed the final product using Wix </li>
      <li> Worked alongside business sponsor from Freedom Hub using the Agile method </li>
    </ul>
    <p><li> For the final year of university, I helped manage a team of 3 students to liase and develop an online ordering system much like HeyYou! Through this semester I delegated tasks to investigate the clients requirments, learnt design using Figma, created several reports, created a project plan, and finally completed the handover at the end of the semester.  </li></p>
  </div>
</div>
